<div>
  <table ngxsGroup="data" [ngxsGroupOptions]="{timeoutBeforeChange: 500}">
    <tr><th>Field 1:</th><td><input ngxsForm="field1" type="text"></td></tr>
    <tr><th>Field 2:</th><td><input ngxsForm="field2" type="text"></td></tr>
    <tr><th>Field 3:</th><td><input ngxsForm="field3" ngxsFormType="int" type="text"></td></tr>
  </table>
</div>
